[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
commonName                 = wrong_cn_server

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = lvhme
IP.1  = 192.168.0.1
